html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  background-color: lightgray;
  box-sizing: inherit;
}

img {
  display: block;
  height: 400px;
  width: auto;
  margin: 0 auto;
}

.heading {
  font-family: "Quicksand", serif;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: center;
}

.body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 32px;
}

.ingredients_list,
.recipe_steps {
  background-color: darkgray;
  border: 5px solid darkgreen;
  border-radius: 25px;
  margin: 0px auto;
  padding-left: 2.5rem;
  width: 90%;
}

.ingredients_list li,
.recipe_steps li {
  border-radius: 25px;
  padding: 0.25rem .5rem;
  background-color: inherit;
}

.recipe_links ul {
  list-style: none;
}

.recipe_links li {
  width: 50%;
  margin: 0.2rem auto;
}

.recipe_links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  height: 5rem;
  background-color: darkgray;
  border: 5px solid darkgreen;
  border-radius: 25px;
  text-align: center;
}
